html,body{
    width: 100%;
    height: 100%;
  
  }
  .ldad-clear{
    clear: both;
    margin-bottom: 40px;
}
  body{
      color: #181818;
  }
  
  
  main{
    width: 100%;
      font-family: 'Barlow Condensed', sans-serif;
      overflow-x: hidden;
  }
  h1{
    font-size: 35px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
    color: #3398cc;
    }
    @media only screen and (max-width: 375px) {
      h1{
        font-size: 22px;
      }
    }
    @media only screen and (max-width: 940px) {
      h1{
        padding-left: 20px;
        padding-right: 20px;
        }
      }

    
    h2{
      font-size: 30px;
      font-weight: 500;
      margin: 10px 0px 10px 0px;
      color: #3398cc;
      }
      
      @media only screen and (max-width: 940px) {
        h2{
          padding-left: 20px;
          padding-right: 20px;
          }
        }
    h3{
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
    }
    
    @media only screen and (max-width: 940px) {
      h3{
        padding-left: 20px;
        padding-right: 20px;
        }
      }
      @media only screen and (max-width: 375px) {
        h3{
          font-size: 20px;
        }
      }
    
    .pre-sup{
      text-indent: -10px;
        margin-left: -4px;
    }
    sup{
      vertical-align: super;
        font-size: 9px;
        line-height: 0px;
        margin-left: 0px;
    }
    em{
      font-style: italic;
    }
    p{
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif; 
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 17px;
      hanging-punctuation: first;
      display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
  li a{
      color: #fff;
      text-decoration: none;
    }
    li a:hover{
      color: #fff;
      text-decoration: underline;
    } 
    @media only screen and (max-width: 940px) {
      p{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    strong{
      font-weight: bold;
    }
    ul{
      font-size: 12px;
      margin: 30px 10px 30px 10px;
      font-family: 'Barlow Condensed', sans-serif;
    }
    ul li{
      margin-bottom: 10px;
    }
    @media only screen and (max-width: 640px) {
      ul li{
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    section{
      margin-top: 15px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }
    main > section{
      overflow: hidden;
    
    }
    a[name]{
      display: block;
      position: relative;
      padding-top: 337px;
      float: left;
      width: 100%;
      clear: both;
      margin-top: -337px;
    }
    @media only screen and (max-width: 640px) {
      a[name]{
        margin-top: -180px;
        padding-top: 180px;
        
      }
    }
    @media only screen and (max-width: 414px) {
      a[name]{
        margin-top: -180px;
        padding-top: 180px;
      }
    }
    @media only screen and (max-width: 375px) {
      a[name]{
        margin-top: -180px;
        padding-top: 180px;
        
      }
    }
    @media only screen and (max-width: 320px) {
      a[name]{
        margin-top: -220px;
        padding-top: 220px;
      }
    }
    label{
      /* display: inline-block; */
    }
    .ldad-thank-you-wrapper{
      margin-left: auto;
      margin-right: auto;
      width: 800px;
    }
    .ldad-thank-you-top-bar{
      width: 800px;
      height: 156px;
      background-color: #000;
      text-align: center;
    }
    .thank-you-copy-wrapper{
      padding: 20px;
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .nav-container{
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    z-index: 999999;
    background-color: #000;
    }
    @media only screen and (max-width: 980px) {
      .nav-container{
        display: none;
      }
    }

    nav{
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0px 25px 0px;
    }
    @media only screen and (max-width: 939px) {
      nav{
        text-align: center;
        padding: 0px 0px 0px 0px;
        position: relative;
      }
    }

    nav ul{
    text-align: right;
    margin: 0px;
    }
    @media only screen and (max-width: 375px) {
      nav ul{
    text-align: center;
    margin: 10px;
      }
    }
    nav span li{
    width: 20px;
    height: 20px;
    }

    nav ul li{
    margin-left: 5px;
    padding: 5px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    }
    @media only screen and (max-width: 375px) {
      nav ul li{
    padding: 0px;
      }
    }


    .nav-container-mobile{
      padding: 20px;
      width: 100%;
      position: fixed;
      top: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 12px;
      z-index: 999999;
      background-color: #000;
      display: none;
      }
      @media only screen and (max-width: 980px) {
        .nav-container-mobile{
          display: block;
        }
      }
      @media only screen and (max-width: 939px) {
    .ldad-social-cont{
      position: absolute;
      top: 0px;
      right: 0px;
    } 
  }
  @media only screen and (max-width: 939px) {
  .ldad-main-nav-cont{
    display: inline-block;
  }
}

.ldad-covid-info-wrapper{
width: 100%;
height: auto;
margin: 40px 0 40px 0;
text-align: center;
background: #fffaa9;
padding: 20px 0 20px 0;
}
.ldad-covid-info-content{
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 500;
  color: #3398cc;
}
.ldad-covid-info-content a{
  color: #3398cc;
}

.ldad-policy-notice-download-link{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ldad-policy-notice-download-link a{
  color: #3398cc;
  font-weight: bold;
}

.ldad-policy-notice-download-link a::before{
 content: "";
 background-image: url(../images/exclamation-point-image.png);
 background-repeat: no-repeat;
 background-size: 7px 28px;
 position: absolute;
 margin-left: -20px;
 margin-top: -5px;
 height: 28px;
 width: 7px;
}
    
    #ldad-logo-company-name-text{
    color: #fff;
    font-size: 30px;
    margin-left: 129px;
    position: absolute;
    bottom: 55px;
    text-align: right;
    /* border-right: 1px solid; */
    padding-right: 25px;
    }
    @media only screen and (max-width: 939px) {
      #ldad-logo-company-name-text{
        text-align: center;
        padding-right: 0px;
        font-size: 18px;
        position: relative;
        bottom: 0px;
        border: none;
        margin-left: 0px;
      }
    }
    #ldad-logo-company-name-text span{
      font-size: 17px;
      margin-left: -154px;
      position: absolute;
    }
    nav img{
      width: 100%;
      max-width: 145px;
      margin-left: auto;
      margin-right: auto;
      display: none;
    }
    @media only screen and (max-width: 939px) {
      nav img{
        display: block;
      }
    }
    #ldad-logo-company-name-text::before{
    content: url(../images/ldad-logo.png);
    width: 100%;
    height: auto;
    position: absolute;
    left: -309px;
    top: -267px;
    transform: scale(.16);
    }

    @media only screen and (max-width: 939px) {
      #ldad-logo-company-name-text::before{
        display: none;
      }
    }

    .ldad-social-cont ul{
    text-align: right;
    margin: 0px;
    }
    @media only screen and (max-width: 375px) {
      .ldad-social-cont ul{
        text-align: center;
        margin: 0px;
      }
    }
    .ldad-social-cont ul li{
    margin-left: 20px;
    /* border: 1px solid #181818; */
    padding: 5px;
    display: inline-block;
    }
    @media only screen and (max-width: 375px) {
      .ldad-social-cont ul li{
       padding: 0px;
       margin-left: 0px;
      }
    }


    .ldad-content-wrapper{
    width: 100%;
    height: auto;
    }
    .ldad-content-mission-statement{
        width: 100%;
    max-width: 940px;
    text-align: left;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    }

    @media only screen and (min-width: 376px) and (max-width: 939px) {
      .ldad-content-mission-statement{
          margin-top: 200px;
      }
  }
  @media only screen and (max-width: 375px) {
    .ldad-content-mission-statement{
        margin-top: 200px;
    }
}
@media only screen and (max-width: 940px){
.ldad-persistance-quote-wrapper{
  padding-left: 20px;
  padding-right: 20px;
}
}

.ldad-persistance-quote-wrapper{
  margin-top: 40px;
}

.ldad-persistance-quote-wrapper img{
  float: left;
  width: 100%;
  max-width: 40%;
  box-shadow: 4px 3px 5px 2px #999;
  border: 1px solid #fff;
  border-radius: 10px;
}
@media only screen and (max-width: 768px){
  .ldad-persistance-quote-wrapper img{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
.ldad-persistance-quote-wrapper p{
  font-size: 40px;
  line-height: 40px;
  color: #3398cc;
  margin-top: 52px;
  float: right;
  width: 90%;
  max-width: 53%;
  font-family: 'Barlow Condensed', sans-serif;
}
@media only screen and (max-width: 768px){
  .ldad-persistance-quote-wrapper p{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    float: none;
  }
}
.ldad-persistance-quote-wrapper span{
  font-size: 15px;
}
.ldad-join-the-ldad-copy{
  font-size: 30px;
  line-height: 30px;
  color: #3398cc;
  font-family: 'Barlow Condensed', sans-serif;
}
.ldad-join-the-ldad-copy sup{
  font-size: 15px;
}

    /* CONTENT SECTION */

    .ldad-blue-content-wrapper{
      background-color: #3398cc;
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 5px 6px #ccc;
    }
    .ldad-content-cont{
      width: 100%;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
    }
    .ldad-content-blue-cont{
      width: 100%;
      max-width: 1150px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 0px 20px 0px;
      color: #fff;
      text-align: center;
    }
    @media only screen and (max-width: 1163px){
      .ldad-content-blue-cont{
        max-width: 762px;
      }
    }
    .ldad-blue-content-wrapper h2{
      color: #fff;
    }
    .ldad-important-downloads-wrapper{
      width: 100%;
      /* max-width: 940px; */
      padding: 20px 0px 20px 0px;
      height: auto;
      text-align: center;
    }
    .ldad-important-downloads-wrapper a{
      text-decoration: none;
    }

    .ldad-academy-brochure-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-brochure-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-right: 40px;
      border: 2px solid #181818;
    }
    @media only screen and (max-width: 1163px){
      .ldad-academy-brochure-cont{
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-academy-brochure-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-keeping-in-step-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-keeping-in-step-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-right: 40px;
      border: 2px solid #181818;
    }
    @media only screen and (max-width: 1163px){
      .ldad-keeping-in-step-cont{
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-keeping-in-step-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-class-schedule-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-class-schedule-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-class-schedule-cont{
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-class-schedule-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-fees-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-fees-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-left: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-fees-cont{
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-fees-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    
    .ldad-academy-janine-staff-cont{
      width: 250px;
      height: 330px;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-janine-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #181818;
    }
    @media only screen and (max-width: 1163px){
      .ldad-academy-janine-staff-cont{
        margin-bottom: 10px;
      }
    }

    .ldad-academy-janine-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
      text-decoration: none;
    }



    .ldad-academy-taylor-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-taylor-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-right: 40px;
      border: 2px solid #181818;
    }
    @media only screen and (max-width: 1163px){
      .ldad-academy-taylor-staff-cont{
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-academy-taylor-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-joy-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-joy-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-right: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-joy-staff-cont{
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-joy-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }


    .ldad-gina-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-gina-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-gina-staff-cont{
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-gina-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }


    
    .ldad-meagan-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-meagan-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-left: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-meagan-staff-cont{
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-meagan-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-stacy-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-stacy-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      /* margin-left: 40px; */
      margin-right: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-stacy-staff-cont{
        margin-left: 40px;
        margin-bottom: 10px;
      }
    }
    .ldad-stacy-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }
    
    .ldad-summer-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-summer-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-top: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-summer-staff-cont{
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 0px;
      }
    }
    .ldad-summer-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-adam-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-adam-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-left: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-adam-staff-cont{
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-adam-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-sydney-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-sydney-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-left: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-sydney-staff-cont{
        margin-left: 0px;
        margin-bottom: 40px;
      }
    }
    .ldad-sydney-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

    .ldad-ginny-staff-cont{
      width: 250px;
      height: 330px;
      display: inline-block;
      border-radius: 10px;
      background-image: url(../images/ldad-academy-ginny-staff-image.png);
      background-repeat: no-repeat;
      background-color: #fff;
      color: #181818;
      margin-top: 40px;
      border: 2px solid #181818;  
    }
    @media only screen and (max-width: 1163px){
      .ldad-ginny-staff-cont{
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
      }
    }
    .ldad-ginny-staff-cont p{
      margin-top: 292px;
      font-size: 22px;
      font-weight: 500;
      font-family: inherit;
    }

        /* END LDAD STAFF CSS */

    .ldad-class-options-list-wrapper{
      width: 100%;
      height: auto;
      margin-top: 40px;
    }

    .ldad-class-options-list{
      width: 100%;
      height: auto;
      padding: 5px 5px 5px 5px;
      max-width: 235px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      background-color: #fff;
      border: 2px solid #181818;  
    }
    .ldad-class-options-list p{
      color: #181818;
      font-size: 17px;
    }

   .ldad-class-options-list a{
     text-decoration: none;
    }
    .ldad-class-options-list a:hover{
      text-decoration: underline;
     }
    .ldad-classes-wrapper{
      display: none;
    }
  


    /* REGISTRATION SECTION */
    .ui-accordion-content{
      padding: 20px;
    }
    .ui-accordion .ui-accordion-header{
      display: block;
      cursor: pointer;
      position: relative;
      margin: 10px 0 0 0;
      font-size: 100%;
    }
    .ui-state-default {
      border: 1px solid #c5c5c5;
      background: #ededed;
      font-weight: normal;
      color: #181818;
    }
    .ui-state-active {
      border: 1px solid #3398cc;
      background: #3398cc;
      font-weight: normal;
      color: #ffffff;
    }

    #accordion h3{
      text-align: center;
      font-size: 20px;
      padding: 10px;
    }

    .ldad-single-classes-select{
      display: inline-block;
      margin-right: 20px;
    }

    .ldad-single-classes-select-wrapper p{
      font-size: 15px;
      font-family: inherit;
    }

    .ldad-single-classes-select label{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    }

    .ldad-preferred-day-time{
      display: inline-block;
      margin-right: 20px;
    }

    .ldad-preferred-day-time-wrapper p{
      font-size: 15px;
      font-family: inherit;
    }

    .ldad-preferred-day-time label{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    }
    .form-actions{
      margin-top: 20px;
    }

    .ldad-student-information-wrapper p{
      font-size: 15px;
      font-family: inherit;
    }
    .ldad-student-information-wrapper input{
      margin-bottom: 10px;
      width: 100%;
      height: 25px;
    }

    .ldad-student-information-wrapper label{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    }

    .ldad-parent-information-wrapper p{
      font-size: 15px;
      font-family: inherit;
    }
    .ldad-parent-information-wrapper input{
      margin-bottom: 10px;
      width: 100%;
      height: 25px;
    }

    .ldad-parent-information-wrapper label{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    }


    /* FOOTER SECTION */

    footer{
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 50px 0px 50px 0px;
    }
    footer .footer-nav{
    width: 100%;
    width: 100%;
    max-width: 940px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    }
    .footer-nav ul{
      text-align: center;
    }
    .footer-nav ul li{
    margin-left: 20px;
    padding: 5px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    }
    .footer-nav p{
      font-family: 'Barlow Condensed', sans-serif;
    }

    div#pay-now-button{
      width: 50px;
      /* background-color: #FF9900; */
      padding: 0px 0; 
      }
      div#pay-now-button:hover{
      cursor: pointer;
      }
      div#pay-now-button * {
      /* background-color: #FFAA00; */
      }
      div#pay-now-button form{
      margin:0;
      padding:0;
      text-align:center;
      }
      div#pay-now-button div.cpwrap {
      width: 90%;
      border:0;
      margin:0 auto;
      padding: 0px;
      /* background-color: #FF9900; */
      }
      div#pay-now-button button{
      border:0;
      margin:0;
      padding: 0px 0px 0px 0px;
      /* background-color: #FF9900; */
      text-align: center;
      color: #FFFFFF;
      font-family: 'Barlow Condensed', sans-serif;
    }
      div#pay-now-button:hover button {
      text-decoration: underline;
      }
      div#pay-now-button button:focus,div#pay-now-button button:visited,div#pay-now-button button:active{
      border:none;
      outline: none;
      }
      div#pay-now-button button {
      font-size: 15px;
      }
      div#pay-now-button{
     /*  background-color: #FFAA00; */
      }

      #edit-class-options-textarea{
        resize: none;
        padding: 5px;
      }
      #edit-Special-Requests-textarea{
        padding: 5px;
        resize: none;
      }

      




    