.ldad-hero-banner-wrapper{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 157px;
    border-bottom: 4px solid #3398cc;
    box-shadow: 0px 0px 5px 5px #ccc;
    }
    @media only screen and (max-width: 939px) {
        .ldad-hero-banner-wrapper{
            display: none;
        }
    }
     
    #ldad-anime-main{
        display: block;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        max-width: 940px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
        }
    
    
    #ldad-hero-banner-copy1{
        overflow:hidden;
        width: 940px;
        height: 300px;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
		position: absolute;
        display: block;
        background-image: url(../images/anime-images/why-do-we-dance-image.png);
        background-repeat: no-repeat;
        background-size: 940px 300px;
        transform: scale(0);
        visibility: hidden;
} 
#ldad-hero-banner-image1{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    position: absolute;
    display: block;
    background-image: url(../images/anime-images/ldad-hero-banner-image1.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-question-overflow-cont{
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    margin-left: 0px;
}
#ldad-hero-banner-competition{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px -200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-competition.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-competition-image{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-competition-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-discipline{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px -200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-discipline.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-discipline-image{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-discipline-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-spirit{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px -200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-spirit.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-spirit-image{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-spirit-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-friendship{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px -200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-friendship.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-friendship-image{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 200px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-friendship-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-all-these-things{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-all-these-things.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-at-ldad{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-at-ldad.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    transform: scale(0);
    visibility: hidden;
}
#ldad-hero-banner-at-ldad-image{
    overflow:hidden;
    width: 940px;
    height: 300px;
    top: -300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-at-ldad-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-we-believe{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-we-believe.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    transform: scale(0);
    visibility: hidden;
}
#ldad-hero-banner-at-we-believe{
    overflow:hidden;
    width: 940px;
    height: 300px;
    top: -300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-we-believe-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-humans-dance{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-humans-dance.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-because{
    overflow:hidden;
    width: 940px;
    height: 300px;
    left: -50px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-because.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-dance-is-human{
    overflow:hidden;
    width: 940px;
    height: 300px;
    top: 50px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-dance-is-human.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-join-us-image{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-join-us-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}

#ldad-hero-banner-register-image{
    overflow:hidden;
    width: 940px;
    height: 300px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-register-image.png);
    background-repeat: no-repeat;
    background-size: 940px 300px;
    visibility: hidden;
}
#ldad-hero-banner-green-check1{
    overflow:hidden;
    width: 42px;
    height: 41px;
    top: 25px;
    left: 192px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-green-check1.png);
    background-repeat: no-repeat;
    background-size: 42px 41px;
    transform: scale(0);
    visibility: hidden;
}
#ldad-hero-banner-green-check2{
    overflow:hidden;
    width: 42px;
    height: 41px;
    top: 90px;
    left: 192px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-green-check2.png);
    background-repeat: no-repeat;
    background-size: 42px 41px;
    transform: scale(0);
    visibility: hidden;
}
#ldad-hero-banner-green-check3{
    overflow:hidden;
    width: 42px;
    height: 41px;
    top: 153px;
    left: 192px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-green-check3.png);
    background-repeat: no-repeat;
    background-size: 42px 41px;
    transform: scale(0);
    visibility: hidden;
}
#ldad-hero-banner-green-check4{
    overflow:hidden;
    width: 42px;
    height: 41px;
    top: 220px;
    left: 192px;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display: block;
    position: absolute;
    background-image: url(../images/anime-images/ldad-hero-banner-green-check4.png);
    background-repeat: no-repeat;
    background-size: 42px 41px;
    transform: scale(0);
    visibility: hidden;
}